body {
    background-image: url("https://i.postimg.cc/HLdwZnkK/1636920747-1-bogatyr-club-p-fon-dlya-prilozheniya-1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}